<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Test.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Test.Properties.Settings1>
            <setting name="tabs" serializeAs="String">
                <value />
            </setting>
        </Test.Properties.Settings1>
        <Test.Properties.Settings>
            <setting name="TopMost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoInject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnlockFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InternalUI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="API" serializeAs="String">
                <value>2</value>
            </setting>
        </Test.Properties.Settings>
    </userSettings>
</configuration>